.ariaRadioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-zCZ4UkeS8Qlx);
  min-width: 0;
}
.ariaRadioGroup[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__fr6D0 {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-zCZ4UkeS8Qlx);
}
.radio__ztA8W:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__oV4Hu:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__gzdU:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
