.ariaRadioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-zCZ4UkeS8Qlx);
  min-width: 0;
}
.ariaRadioGroup[data-disabled][data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__fr6D0 {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-zCZ4UkeS8Qlx);
}
.uiRadio__ztA8W:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.uiRadio__oV4Hu:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.uiRadio__gzdU:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.uiDescription:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
