.root:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 16px;
}
.link__akXc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  height: 5rem;
  padding: 0px;
}
.img {
  object-fit: fill;
  height: 100%;
  min-height: 0;
}
.img > picture > img {
  object-fit: fill;
}
.name {
  animation: fadeNameInRaatNchy1Tbj 1s ease 0s 1 normal none running;
  width: auto;
  height: auto;
  font-family: "tars-mono-smooth";
  color: var(--token-GVsoIpJlGJFU);
  flex-grow: 0;
  flex-basis: auto;
  position: relative;
  left: auto;
  top: auto;
  text-align: center;
  background: var(--token-W1ScpvjFaWi_);
  box-shadow: none;
  transition-property: all;
  transition-duration: 0.3s;
  align-self: center;
  z-index: 1;
  font-size: 160%;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
  border-radius: 10px;
  padding: 4%;
  margin: 0% 0% 0% 6%;
}
.svg__yfHcd {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-W1ScpvjFaWi_);
  height: 1em;
}
.svg__bvt4H {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-W1ScpvjFaWi_);
  height: 1em;
}
.link___2WA8K {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-W1ScpvjFaWi_);
  font-size: 1.25em;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.root .link___2WA8K:hover {
  animation: none;
  color: var(--token-FNlGonEzr_jx);
}
.link__x1Fun {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-W1ScpvjFaWi_);
  font-size: 1.25em;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.root .link__x1Fun:hover {
  animation: none;
  color: var(--token-FNlGonEzr_jx);
}
.link__hsojC {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-W1ScpvjFaWi_);
  font-size: 1.25em;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.root .link__hsojC:hover {
  animation: none;
  color: var(--token-FNlGonEzr_jx);
}
.link__t05Ll {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-W1ScpvjFaWi_);
  font-size: 1.25em;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.root .link__t05Ll:hover {
  animation: none;
  color: var(--token-FNlGonEzr_jx);
}
