.root:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 16px;
}
.link__akXc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  flex-shrink: 1;
  align-self: center;
  padding-left: 10%;
}
.img {
  object-fit: contain;
  flex-shrink: 1;
  width: clamp(1.67rem, 6.67vw, 5rem);
  height: clamp(1.67rem, 6.67vw, 5rem);
  min-width: clamp(1.67rem, 6.67vw, 5rem);
  min-height: 0px;
}
.img > picture > img {
  object-fit: contain;
}
@media (max-width: 640px) {
  .img {
    width: clamp(3rem, 15vw, 5.625rem);
    min-width: clamp(3rem, 15vw, 5.625rem);
    height: clamp(3rem, 15vw, 5.625rem);
  }
}
.name {
  animation: fadeNameInRaatNchy1Tbj 1s ease 0s 1 normal none running;
  width: auto;
  font-family: "tars-mono-smooth";
  color: var(--token-GVsoIpJlGJFU);
  flex-grow: 0;
  position: relative;
  left: auto;
  top: auto;
  text-align: center;
  background: var(--token-W1ScpvjFaWi_);
  box-shadow: none;
  transition-property: all;
  transition-duration: 0.3s;
  align-self: center;
  transition-timing-function: ease-in-out;
  font-weight: 700;
  font-size: clamp(0.5rem, 2vw, 1.5rem);
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
  border-radius: 10px;
  padding: 4%;
  margin: 0% 0% 0% 6%;
}
@media (max-width: 640px) {
  .name {
    font-size: clamp(1rem, 5vw, 1.875rem);
  }
}
.svg__yfHcd {
  object-fit: cover;
  color: var(--token-W1ScpvjFaWi_);
  height: 48px;
}
.svg__bvt4H {
  object-fit: cover;
  color: var(--token-W1ScpvjFaWi_);
  height: 48px;
}
.link___2WA8K {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-W1ScpvjFaWi_);
  font-size: 1.25em;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.root .link___2WA8K:hover {
  animation: none;
  color: var(--token-FNlGonEzr_jx);
}
.link__x1Fun {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-W1ScpvjFaWi_);
  font-size: 1.25em;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.root .link__x1Fun:hover {
  animation: none;
  color: var(--token-FNlGonEzr_jx);
}
.link__hsojC {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-W1ScpvjFaWi_);
  font-size: 1.25em;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.root .link__hsojC:hover {
  animation: none;
  color: var(--token-FNlGonEzr_jx);
}
.link__t05Ll {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-W1ScpvjFaWi_);
  font-size: 1.25em;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.root .link__t05Ll:hover {
  animation: none;
  color: var(--token-FNlGonEzr_jx);
}
