.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-W1ScpvjFaWi_);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-BdshjNcEeSD0);
  font-family: var(--token-IQ_wlK9jIwE0);
  font-size: var(--token-Jv9klbmrC1HZ);
  line-height: var(--token-TZviWh4oB8N5);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-D4rW6OTuoU8G);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible][data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-gf_m29KWMSak);
  outline-offset: 1px;
  outline-color: var(--token-W1ScpvjFaWi_);
}
.root[data-disabled][data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-D0eLxsVwhe4n);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token--qVKyXglxE_T);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-VlsLKThBr-ma);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-DGT779UfdKvo);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-jjwAceg_-Ne1);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-OTNKE8pX7SZA);
  font-size: var(--token-fNZvi7DB8xI-);
  column-gap: var(--token-gf_m29KWMSak);
  row-gap: 0px;
  border-radius: var(--token-zCZ4UkeS8Qlx);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-fNZvi7DB8xI-);
  line-height: var(--token-OTNKE8pX7SZA);
  column-gap: var(--token-zCZ4UkeS8Qlx);
  row-gap: 0px;
  border-radius: var(--token-zCZ4UkeS8Qlx);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-F5EG1UNmgzC2);
  line-height: var(--token-gMsJhuO52wXc);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-F5EG1UNmgzC2);
  line-height: var(--token-gMsJhuO52wXc);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-1d2P_8DqUq4R);
  border-radius: var(--token-D4rW6OTuoU8G);
}
.softBackgroundcolor_neutral {
  background: var(--token-9kOusHHanRX-);
}
.softBackgroundcolor_muted {
  background: var(--token-ZSxDl47G_hl-);
}
.softBackgroundcolor_success {
  background: var(--token-_XHPeBEu00up);
}
.softBackgroundcolor_warning {
  background: var(--token-10KQA406nC_h);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-7AgY4lxu5u8A);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-D4rW6OTuoU8G);
  border: 0px solid var(--token-OGkLG1wdrzuq);
}
.bordercolor_neutral {
  border-color: var(--token-TIkEhxN3gozN);
}
.bordercolor_muted {
  border-color: var(--token-CwFWu7E7j_mO);
}
.bordercolor_success {
  border-color: var(--token--qRuF6YAE8lK);
}
.bordercolor_warning {
  border-color: var(--token-4LdPcRciivd_);
}
.bordercolor_errorDestructive {
  border-color: var(--token-DJBXOjR5oJ2B);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-D4rW6OTuoU8G);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-HvX6M47iTqmg);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-XuhZNhymc_3T);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-SGXCbuZR7A5b);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__aDus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-D4rW6OTuoU8G);
  min-width: 0;
  min-height: 0;
  padding: var(--token-D4rW6OTuoU8G) var(--token-rwGsqMnzf7tR);
}
.freeBoxsize_extraSmall__aDuscm3Tv {
  padding: var(--token-zCZ4UkeS8Qlx) var(--token-D4rW6OTuoU8G);
}
.freeBoxsize_small__aDusthziF {
  padding: var(--token-D4rW6OTuoU8G) var(--token-BdshjNcEeSD0);
}
.freeBoxsize_large__aDusZbJi {
  padding-top: var(--token-zCZ4UkeS8Qlx);
  padding-bottom: var(--token-zCZ4UkeS8Qlx);
}
.freeBoxsize_extraLarge__aDusj8Skn {
  padding-left: var(--token-HdmhJwAw8PY-);
  padding-right: var(--token-HdmhJwAw8PY-);
}
.freeBoxroundedFull__aDusHa6M9 {
  padding-right: var(--token-HdmhJwAw8PY-);
  padding-left: var(--token-HdmhJwAw8PY-);
}
.freeBox__mZgL5 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__mZgL5DOxF0 {
  display: flex;
}
.slotTargetStart {
  color: var(--token-9BuiortPGE0a);
}
.slotTargetStartcolor_neutral {
  color: var(--token-RV5HZOZ-O0QZ);
}
.slotTargetStartcolor_muted {
  color: var(--token-6GLXS339DFWK);
}
.slotTargetStartcolor_success {
  color: var(--token-OirE8p4Awxm-);
}
.slotTargetStartcolor_warning {
  color: var(--token-0bnAgJwjBOQZ);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-SuiXJr1gCMr-);
}
.slotTargetStarttype_soft {
  color: var(--token-FNlGonEzr_jx);
}
.slotTargetStarttype_bordered {
  color: var(--token-FNlGonEzr_jx);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-fNZvi7DB8xI-);
}
.slotTargetStartsize_small {
  font-size: var(--token-fNZvi7DB8xI-);
}
.slotTargetStartsize_large {
  font-size: var(--token-F5EG1UNmgzC2);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-F5EG1UNmgzC2);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-eAO7KvKp-GVB);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-eAO7KvKp-GVB);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-j_gyKNJQwP8I);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-j_gyKNJQwP8I);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-ZZLww2fwMRqp);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-ZZLww2fwMRqp);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-Ub1lWPudDYSE);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-Ub1lWPudDYSE);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-ikrh1yu7XOMd);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-ikrh1yu7XOMd);
}
.svg__bz7EN {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-9BuiortPGE0a);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-RV5HZOZ-O0QZ);
}
.slotTargetLabelcolor_muted {
  color: var(--token-6GLXS339DFWK);
}
.slotTargetLabelcolor_success {
  color: var(--token-OirE8p4Awxm-);
}
.slotTargetLabelcolor_warning {
  color: var(--token-0bnAgJwjBOQZ);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-SuiXJr1gCMr-);
}
.slotTargetLabeltype_soft {
  color: var(--token-FNlGonEzr_jx);
}
.slotTargetLabeltype_bordered {
  color: var(--token-FNlGonEzr_jx);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-eAO7KvKp-GVB);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-j_gyKNJQwP8I);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-eAO7KvKp-GVB);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-ZZLww2fwMRqp);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-j_gyKNJQwP8I);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-Ub1lWPudDYSE);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-ZZLww2fwMRqp);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-ikrh1yu7XOMd);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-Ub1lWPudDYSE);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-ikrh1yu7XOMd);
}
.text__dgrNs {
  white-space: pre;
}
.freeBox___1TIyH {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd___1TIyHKbFqm {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-9BuiortPGE0a);
}
.slotTargetEndcolor_neutral {
  color: var(--token-RV5HZOZ-O0QZ);
}
.slotTargetEndcolor_muted {
  color: var(--token-6GLXS339DFWK);
}
.slotTargetEndcolor_success {
  color: var(--token-OirE8p4Awxm-);
}
.slotTargetEndcolor_warning {
  color: var(--token-0bnAgJwjBOQZ);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-SuiXJr1gCMr-);
}
.slotTargetEndtype_soft {
  color: var(--token-FNlGonEzr_jx);
}
.slotTargetEndtype_bordered {
  color: var(--token-FNlGonEzr_jx);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-fNZvi7DB8xI-);
}
.slotTargetEndsize_small {
  font-size: var(--token-fNZvi7DB8xI-);
}
.slotTargetEndsize_large {
  font-size: var(--token-F5EG1UNmgzC2);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-F5EG1UNmgzC2);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-eAO7KvKp-GVB);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-eAO7KvKp-GVB);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-j_gyKNJQwP8I);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-j_gyKNJQwP8I);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-ZZLww2fwMRqp);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-ZZLww2fwMRqp);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-Ub1lWPudDYSE);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-Ub1lWPudDYSE);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-ikrh1yu7XOMd);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-ikrh1yu7XOMd);
}
.svg__zsG3O {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
