.ariaSlider:global(.__wab_instance) {
  position: relative;
  box-sizing: border-box;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  color: var(--token-Pr-CQxrq8NsF);
  font-family: var(--token-IQ_wlK9jIwE0);
  font-size: var(--token-Jv9klbmrC1HZ);
  line-height: var(--token-TZviWh4oB8N5);
  width: 100%;
  row-gap: var(--token-HdmhJwAw8PY-);
}
.ariaSlider[data-disabled][data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__aAXl {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  column-gap: var(--token-BdshjNcEeSD0);
}
.text__i9FDi {
  position: relative;
}
.freeBox__lW3I {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: var(--token-D4rW6OTuoU8G);
  padding-bottom: var(--token-D4rW6OTuoU8G);
  width: 100%;
  min-width: 0;
}
.background {
  display: flex;
  background: var(--token-Q3KqELvW2Jvm);
  height: var(--token-BdshjNcEeSD0);
  width: 100%;
  min-width: 0;
  border-radius: 99px;
}
.ariaSliderTrack:global(.__wab_instance) {
  cursor: pointer;
  opacity: 1;
  box-sizing: border-box;
  background: none;
  height: var(--token-BdshjNcEeSD0);
  width: 100%;
  min-width: 0;
}
.ariaSlider[data-disabled] .ariaSliderTrack:global(.__wab_instance) {
  cursor: not-allowed;
}
.sliderThumb__p0I4D:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  margin-top: var(--token-zCZ4UkeS8Qlx);
}
.foreground {
  display: block;
  background: var(--token-W1ScpvjFaWi_);
  height: var(--token-BdshjNcEeSD0);
  border-radius: 99px 0rem 0rem 99px;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
