.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-GVsoIpJlGJFU);
  min-width: 0;
  min-height: 0;
  border-radius: 10px;
  padding: 8px;
  border: 5px solid var(--token-W1ScpvjFaWi_);
}
.img {
  object-fit: cover;
  width: 100%;
  object-position: 50% top;
  flex-shrink: 0;
  aspect-ratio: 4/2;
  justify-self: auto;
  border-radius: 10px 10px 0px 0px;
}
.img > picture > img {
  object-fit: cover;
  object-position: 50% top;
}
.text__kSjSb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 2rem;
  text-align: center;
  min-width: 0;
}
.text__qaVl6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
