.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-GVsoIpJlGJFU);
  min-height: 100vh;
  min-width: 0;
}
.customHeader:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__chXqb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 65ch;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 50%;
  border-radius: 10px;
}
.img > picture > img {
  object-fit: cover;
}
.text {
  font-size: 3rem;
}
.freeBox__kf4Vk {
  display: block;
  position: relative;
  width: 100%;
  height: 10vh;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.customFooter:global(.__wab_instance) {
  position: absolute;
  height: auto;
  align-self: baseline;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
}
