@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Fira+Mono%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-PitMWV3NeiID: var(--token-OJSN3W0Myvht);
  --plasmic-token-size-32: var(--token-PitMWV3NeiID);
  --token-nxo6XX10p87f: var(--token-0tl2H1TRPHhV);
  --plasmic-token-size-16: var(--token-nxo6XX10p87f);
  --token-BdshjNcEeSD0: var(--token-cfon0PHiXQoL);
  --plasmic-token-size-8: var(--token-BdshjNcEeSD0);
  --token-j_gyKNJQwP8I: var(--token-MGudh00NLP3q);
  --plasmic-token-muted-muted-soft-foreground: var(--token-j_gyKNJQwP8I);
  --token-zCZ4UkeS8Qlx: var(--token-RuQNZpYm0Yds);
  --plasmic-token-size-4: var(--token-zCZ4UkeS8Qlx);
  --token-HdmhJwAw8PY-: var(--token-PKf5XaFatup3);
  --plasmic-token-size-12: var(--token-HdmhJwAw8PY-);
  --token-wiEA9Szbw4JQ: var(--token-ekJK2BNXfyOR);
  --plasmic-token-size-24: var(--token-wiEA9Szbw4JQ);
  --token-F5EG1UNmgzC2: 1.25rem;
  --plasmic-token-font-lg: var(--token-F5EG1UNmgzC2);
  --token-K0B3Pb04HWqq: #ffffff;
  --plasmic-token-basic-container-background: var(--token-K0B3Pb04HWqq);
  --token-W1ScpvjFaWi_: var(--token-3kYlE5VFDAO5);
  --plasmic-token-brand-brand: var(--token-W1ScpvjFaWi_);
  --token-IQ_wlK9jIwE0: Inter;
  --plasmic-token-sans-serif: var(--token-IQ_wlK9jIwE0);
  --token-Jv9klbmrC1HZ: 1rem;
  --plasmic-token-font-md: var(--token-Jv9klbmrC1HZ);
  --token-TZviWh4oB8N5: 1.25;
  --plasmic-token-line-height-md: var(--token-TZviWh4oB8N5);
  --token-D4rW6OTuoU8G: var(--token-c8-rjzKYORFj);
  --plasmic-token-size-6: var(--token-D4rW6OTuoU8G);
  --token-D0eLxsVwhe4n: var(--token-Cn459MKRbWu9);
  --plasmic-token-neutral-neutral: var(--token-D0eLxsVwhe4n);
  --token-jjwAceg_-Ne1: var(--token-u2RgMe-uQAju);
  --plasmic-token-destructive-destructive: var(--token-jjwAceg_-Ne1);
  --token--qVKyXglxE_T: var(--token-MGudh00NLP3q);
  --plasmic-token-muted-muted: var(--token--qVKyXglxE_T);
  --token-fNZvi7DB8xI-: 0.75rem;
  --plasmic-token-font-sm: var(--token-fNZvi7DB8xI-);
  --token-OTNKE8pX7SZA: 1;
  --plasmic-token-line-height-sm: var(--token-OTNKE8pX7SZA);
  --token-gMsJhuO52wXc: 1.4;
  --plasmic-token-line-height-lg: var(--token-gMsJhuO52wXc);
  --token-gf_m29KWMSak: var(--token-IUVIp1DHBSFd);
  --plasmic-token-size-2: var(--token-gf_m29KWMSak);
  --token-VlsLKThBr-ma: var(--token-8odYYBvkaHVX);
  --plasmic-token-success-success: var(--token-VlsLKThBr-ma);
  --token-DGT779UfdKvo: var(--token-L6pBmIkiSkx4);
  --plasmic-token-warning-warning: var(--token-DGT779UfdKvo);
  --token-1d2P_8DqUq4R: var(--token-w7EPkOMSh2Xb);
  --plasmic-token-brand-brand-soft: var(--token-1d2P_8DqUq4R);
  --token-9kOusHHanRX-: var(--token-YTNNB1KtOvN9);
  --plasmic-token-neutral-neutral-soft: var(--token-9kOusHHanRX-);
  --token-ZSxDl47G_hl-: var(--token-NyTb7hfbZNyN);
  --plasmic-token-muted-muted-soft: var(--token-ZSxDl47G_hl-);
  --token-_XHPeBEu00up: var(--token-Xs2o77o8RCB-);
  --plasmic-token-success-success-soft: var(--token-_XHPeBEu00up);
  --token-10KQA406nC_h: var(--token-BUYkn0c_BT-J);
  --plasmic-token-warning-warning-soft: var(--token-10KQA406nC_h);
  --token-7AgY4lxu5u8A: var(--token-I0_BUYzH206C);
  --plasmic-token-destructive-destructive-soft: var(--token-7AgY4lxu5u8A);
  --token-OGkLG1wdrzuq: var(--token-qsHKKmoi9Z2N);
  --plasmic-token-brand-brand-border: var(--token-OGkLG1wdrzuq);
  --token-TIkEhxN3gozN: var(--token-GQQSYIXwL9h_);
  --plasmic-token-neutral-neutral-border: var(--token-TIkEhxN3gozN);
  --token-CwFWu7E7j_mO: var(--token-YTNNB1KtOvN9);
  --plasmic-token-muted-muted-border: var(--token-CwFWu7E7j_mO);
  --token--qRuF6YAE8lK: var(--token-Y7e5ggCd09M6);
  --plasmic-token-success-success-border: var(--token--qRuF6YAE8lK);
  --token-4LdPcRciivd_: var(--token-N2GVB8b4MTkJ);
  --plasmic-token-warning-warning-border: var(--token-4LdPcRciivd_);
  --token-DJBXOjR5oJ2B: var(--token-8XWkpFEFETNw);
  --plasmic-token-destructive-destructive-border: var(--token-DJBXOjR5oJ2B);
  --token-HvX6M47iTqmg: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-HvX6M47iTqmg);
  --token-XuhZNhymc_3T: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-XuhZNhymc_3T);
  --token-SGXCbuZR7A5b: #00000033;
  --plasmic-token-interaction-pressed: var(--token-SGXCbuZR7A5b);
  --token-rwGsqMnzf7tR: var(--token-vINZR3MlEOSB);
  --plasmic-token-size-10: var(--token-rwGsqMnzf7tR);
  --token-9BuiortPGE0a: var(--token-M0LHGDR880st);
  --plasmic-token-brand-brand-foreground: var(--token-9BuiortPGE0a);
  --token-RV5HZOZ-O0QZ: var(--token-w0BmYAdVh1BD);
  --plasmic-token-neutral-neutral-foreground: var(--token-RV5HZOZ-O0QZ);
  --token-6GLXS339DFWK: var(--token-YTNNB1KtOvN9);
  --plasmic-token-muted-muted-foreground: var(--token-6GLXS339DFWK);
  --token-FNlGonEzr_jx: var(--token-wXhZBDyFIH77);
  --plasmic-token-brand-brand-soft-foreground: var(--token-FNlGonEzr_jx);
  --token-0bnAgJwjBOQZ: var(--token-IM1QVYeIZBIA);
  --plasmic-token-warning-warning-foreground: var(--token-0bnAgJwjBOQZ);
  --token-OirE8p4Awxm-: var(--token-d5rxOApLiBXu);
  --plasmic-token-success-success-foreground: var(--token-OirE8p4Awxm-);
  --token-SuiXJr1gCMr-: var(--token-wO2qMySVKYXU);
  --plasmic-token-destructive-destructive-foreground: var(--token-SuiXJr1gCMr-);
  --token-eAO7KvKp-GVB: var(--token-ZnueTOHp2Zir);
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-eAO7KvKp-GVB);
  --token-ZZLww2fwMRqp: var(--token-MD2kb85IOAun);
  --plasmic-token-success-success-soft-foreground: var(--token-ZZLww2fwMRqp);
  --token-Ub1lWPudDYSE: var(--token-Work-inyFZuD);
  --plasmic-token-warning-warning-soft-foreground: var(--token-Ub1lWPudDYSE);
  --token-ikrh1yu7XOMd: var(--token-c1-8q9kxmrq_);
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-ikrh1yu7XOMd
  );
  --token-Pr-CQxrq8NsF: var(--token-4Cdw41zGDm2p);
  --plasmic-token-basic-text-primary: var(--token-Pr-CQxrq8NsF);
  --token-NvPAOZEg5ALI: var(--token-MGudh00NLP3q);
  --plasmic-token-basic-text-secondary: var(--token-NvPAOZEg5ALI);
  --token-8RrKuXUhKz8M: var(--token-TONjX_YbO9_T);
  --plasmic-token-size-20: var(--token-8RrKuXUhKz8M);
  --token-akjl9VIOtmNZ: var(--token-RN6-6smk2YHi);
  --plasmic-token-basic-ring: var(--token-akjl9VIOtmNZ);
  --token-IC20QVotWM5_: var(--token-GQQSYIXwL9h_);
  --plasmic-token-basic-border: var(--token-IC20QVotWM5_);
  --token-yd1KzfLyM8l0: var(--token-YTNNB1KtOvN9);
  --plasmic-token-muted-muted-soft-hover: var(--token-yd1KzfLyM8l0);
  --token-Q3KqELvW2Jvm: var(--token-YTNNB1KtOvN9);
  --plasmic-token-basic-input-background: var(--token-Q3KqELvW2Jvm);
  --token-OTSA-Q13NP_q: #0a0a0a80;
  --plasmic-token-basic-overlay-background: var(--token-OTSA-Q13NP_q);
  --token-GVsoIpJlGJFU: #000000;
  --plasmic-token-basic-container-background-dark: var(--token-GVsoIpJlGJFU);
  --token-E3oeURNUdlsH: #00dcf0;
  --plasmic-token-main-font-color: var(--token-E3oeURNUdlsH);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-sbRqF62IwZvB_font-family: "Inter", sans-serif;
  --mixin-sbRqF62IwZvB_font-size: 16px;
  --mixin-sbRqF62IwZvB_font-weight: 400;
  --mixin-sbRqF62IwZvB_font-style: normal;
  --mixin-sbRqF62IwZvB_text-align: left;
  --mixin-sbRqF62IwZvB_text-transform: none;
  --mixin-sbRqF62IwZvB_line-height: 1.5;
  --mixin-sbRqF62IwZvB_letter-spacing: normal;
  --mixin-sbRqF62IwZvB_white-space: pre-wrap;
  --mixin-sbRqF62IwZvB_user-select: text;
  --mixin-sbRqF62IwZvB_text-decoration-line: none;
  --mixin-sbRqF62IwZvB_text-overflow: clip;
  --mixin-sbRqF62IwZvB_color: #000000;
  --mixin-QHSq_sSXJAIW_font-weight: 700;
  --mixin-QHSq_sSXJAIW_font-size: 64px;
  --mixin-QHSq_sSXJAIW_line-height: 1;
  --mixin-QHSq_sSXJAIW_letter-spacing: -1px;
  --mixin-QHSq_sSXJAIW_white-space: pre-wrap;
  --mixin--UtuCdIzKUMx_font-size: 48px;
  --mixin--UtuCdIzKUMx_font-weight: 700;
  --mixin--UtuCdIzKUMx_letter-spacing: -0.5px;
  --mixin--UtuCdIzKUMx_line-height: 1.1;
  --mixin--UtuCdIzKUMx_white-space: pre-wrap;
  --mixin-dClRLYoSitxl_color: #0070f3;
  --mixin-dClRLYoSitxl_white-space: pre-wrap;
  --mixin-Z2KRKrjajKCm_font-size: 32px;
  --mixin-Z2KRKrjajKCm_font-weight: 600;
  --mixin-Z2KRKrjajKCm_line-height: 1.2;
  --mixin-Z2KRKrjajKCm_white-space: pre-wrap;
  --mixin-61S0kNin2t4e_font-size: 24px;
  --mixin-61S0kNin2t4e_font-weight: 600;
  --mixin-61S0kNin2t4e_line-height: 1.3;
  --mixin-61S0kNin2t4e_white-space: pre-wrap;
  --mixin-UArKz6BZwWyB_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-UArKz6BZwWyB_border-bottom-color: #dddddd;
  --mixin-UArKz6BZwWyB_border-bottom-style: solid;
  --mixin-UArKz6BZwWyB_border-bottom-width: 1px;
  --mixin-UArKz6BZwWyB_border-left-color: #dddddd;
  --mixin-UArKz6BZwWyB_border-left-style: solid;
  --mixin-UArKz6BZwWyB_border-left-width: 1px;
  --mixin-UArKz6BZwWyB_border-right-color: #dddddd;
  --mixin-UArKz6BZwWyB_border-right-style: solid;
  --mixin-UArKz6BZwWyB_border-right-width: 1px;
  --mixin-UArKz6BZwWyB_border-top-color: #dddddd;
  --mixin-UArKz6BZwWyB_border-top-style: solid;
  --mixin-UArKz6BZwWyB_border-top-width: 1px;
  --mixin-UArKz6BZwWyB_border-bottom-left-radius: 3px;
  --mixin-UArKz6BZwWyB_border-bottom-right-radius: 3px;
  --mixin-UArKz6BZwWyB_border-top-left-radius: 3px;
  --mixin-UArKz6BZwWyB_border-top-right-radius: 3px;
  --mixin-UArKz6BZwWyB_font-family: "Inconsolata";
  --mixin-UArKz6BZwWyB_padding-bottom: 1px;
  --mixin-UArKz6BZwWyB_padding-left: 4px;
  --mixin-UArKz6BZwWyB_padding-right: 4px;
  --mixin-UArKz6BZwWyB_padding-top: 1px;
  --mixin-UArKz6BZwWyB_white-space: pre-wrap;
  --mixin-DGH7AoJj7cXB_border-left-color: #dddddd;
  --mixin-DGH7AoJj7cXB_border-left-style: solid;
  --mixin-DGH7AoJj7cXB_border-left-width: 3px;
  --mixin-DGH7AoJj7cXB_color: #888888;
  --mixin-DGH7AoJj7cXB_padding-left: 10px;
  --mixin-DGH7AoJj7cXB_white-space: pre-wrap;
  --mixin-D_3R4MNoM9lz_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-D_3R4MNoM9lz_border-bottom-color: #dddddd;
  --mixin-D_3R4MNoM9lz_border-bottom-style: solid;
  --mixin-D_3R4MNoM9lz_border-bottom-width: 1px;
  --mixin-D_3R4MNoM9lz_border-left-color: #dddddd;
  --mixin-D_3R4MNoM9lz_border-left-style: solid;
  --mixin-D_3R4MNoM9lz_border-left-width: 1px;
  --mixin-D_3R4MNoM9lz_border-right-color: #dddddd;
  --mixin-D_3R4MNoM9lz_border-right-style: solid;
  --mixin-D_3R4MNoM9lz_border-right-width: 1px;
  --mixin-D_3R4MNoM9lz_border-top-color: #dddddd;
  --mixin-D_3R4MNoM9lz_border-top-style: solid;
  --mixin-D_3R4MNoM9lz_border-top-width: 1px;
  --mixin-D_3R4MNoM9lz_border-bottom-left-radius: 3px;
  --mixin-D_3R4MNoM9lz_border-bottom-right-radius: 3px;
  --mixin-D_3R4MNoM9lz_border-top-left-radius: 3px;
  --mixin-D_3R4MNoM9lz_border-top-right-radius: 3px;
  --mixin-D_3R4MNoM9lz_font-family: "Inconsolata";
  --mixin-D_3R4MNoM9lz_padding-bottom: 3px;
  --mixin-D_3R4MNoM9lz_padding-left: 6px;
  --mixin-D_3R4MNoM9lz_padding-right: 6px;
  --mixin-D_3R4MNoM9lz_padding-top: 3px;
  --mixin-D_3R4MNoM9lz_white-space: pre-wrap;
  --mixin-a_QW5GkZ4fFj_display: flex;
  --mixin-a_QW5GkZ4fFj_flex-direction: column;
  --mixin-a_QW5GkZ4fFj_align-items: stretch;
  --mixin-a_QW5GkZ4fFj_justify-content: flex-start;
  --mixin-a_QW5GkZ4fFj_list-style-position: outside;
  --mixin-a_QW5GkZ4fFj_padding-left: 40px;
  --mixin-a_QW5GkZ4fFj_position: relative;
  --mixin-a_QW5GkZ4fFj_list-style-type: disc;
  --mixin-a_QW5GkZ4fFj_white-space: pre-wrap;
  --mixin-WzgNj99kwXU3_display: flex;
  --mixin-WzgNj99kwXU3_flex-direction: column;
  --mixin-WzgNj99kwXU3_align-items: stretch;
  --mixin-WzgNj99kwXU3_justify-content: flex-start;
  --mixin-WzgNj99kwXU3_list-style-position: outside;
  --mixin-WzgNj99kwXU3_padding-left: 40px;
  --mixin-WzgNj99kwXU3_position: relative;
  --mixin-WzgNj99kwXU3_list-style-type: decimal;
  --mixin-WzgNj99kwXU3_white-space: pre-wrap;
  --mixin--XdPan-mkv1e_font-size: 20px;
  --mixin--XdPan-mkv1e_font-weight: 600;
  --mixin--XdPan-mkv1e_line-height: 1.5;
  --mixin--XdPan-mkv1e_white-space: pre-wrap;
  --mixin-wm97ukfKxvLg_font-size: 16px;
  --mixin-wm97ukfKxvLg_font-weight: 600;
  --mixin-wm97ukfKxvLg_line-height: 1.5;
  --mixin-wm97ukfKxvLg_white-space: pre-wrap;
  --mixin-TWHzf84uVMMw_color: #3291ff;
  --mixin-TWHzf84uVMMw_white-space: pre-wrap;
  --mixin-qYori-VvYqpu_white-space: pre-wrap;
  --mixin-2j7IY5kACHgi_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.i) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text i) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.em) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text em) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.strong) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text strong) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-sbRqF62IwZvB_font-family);
  font-size: var(--mixin-sbRqF62IwZvB_font-size);
  font-weight: var(--mixin-sbRqF62IwZvB_font-weight);
  font-style: var(--mixin-sbRqF62IwZvB_font-style);
  color: var(--mixin-sbRqF62IwZvB_color);
  text-align: var(--mixin-sbRqF62IwZvB_text-align);
  text-transform: var(--mixin-sbRqF62IwZvB_text-transform);
  line-height: var(--mixin-sbRqF62IwZvB_line-height);
  letter-spacing: var(--mixin-sbRqF62IwZvB_letter-spacing);
  white-space: var(--mixin-sbRqF62IwZvB_white-space);
}

:where(.root_reset) h1:where(.h1__77YCn),
h1:where(.root_reset.h1__77YCn),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-weight: var(--mixin-QHSq_sSXJAIW_font-weight);
  font-size: var(--mixin-QHSq_sSXJAIW_font-size);
  line-height: var(--mixin-QHSq_sSXJAIW_line-height);
  letter-spacing: var(--mixin-QHSq_sSXJAIW_letter-spacing);
}

:where(.root_reset) h2:where(.h2__77YCn),
h2:where(.root_reset.h2__77YCn),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  font-size: var(--mixin--UtuCdIzKUMx_font-size);
  font-weight: var(--mixin--UtuCdIzKUMx_font-weight);
  letter-spacing: var(--mixin--UtuCdIzKUMx_letter-spacing);
  line-height: var(--mixin--UtuCdIzKUMx_line-height);
}

:where(.root_reset) a:where(.a__77YCn),
a:where(.root_reset.a__77YCn),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-dClRLYoSitxl_color);
}

:where(.root_reset) h3:where(.h3__77YCn),
h3:where(.root_reset.h3__77YCn),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-size: var(--mixin-Z2KRKrjajKCm_font-size);
  font-weight: var(--mixin-Z2KRKrjajKCm_font-weight);
  line-height: var(--mixin-Z2KRKrjajKCm_line-height);
}

:where(.root_reset) h4:where(.h4__77YCn),
h4:where(.root_reset.h4__77YCn),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-size: var(--mixin-61S0kNin2t4e_font-size);
  font-weight: var(--mixin-61S0kNin2t4e_font-weight);
  line-height: var(--mixin-61S0kNin2t4e_line-height);
}

:where(.root_reset) code:where(.code__77YCn),
code:where(.root_reset.code__77YCn),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-UArKz6BZwWyB_font-family);
  border-radius: var(--mixin-UArKz6BZwWyB_border-top-left-radius)
    var(--mixin-UArKz6BZwWyB_border-top-right-radius)
    var(--mixin-UArKz6BZwWyB_border-bottom-right-radius)
    var(--mixin-UArKz6BZwWyB_border-bottom-left-radius);
  padding: var(--mixin-UArKz6BZwWyB_padding-top)
    var(--mixin-UArKz6BZwWyB_padding-right)
    var(--mixin-UArKz6BZwWyB_padding-bottom)
    var(--mixin-UArKz6BZwWyB_padding-left);
  border-top: var(--mixin-UArKz6BZwWyB_border-top-width)
    var(--mixin-UArKz6BZwWyB_border-top-style)
    var(--mixin-UArKz6BZwWyB_border-top-color);
  border-right: var(--mixin-UArKz6BZwWyB_border-right-width)
    var(--mixin-UArKz6BZwWyB_border-right-style)
    var(--mixin-UArKz6BZwWyB_border-right-color);
  border-bottom: var(--mixin-UArKz6BZwWyB_border-bottom-width)
    var(--mixin-UArKz6BZwWyB_border-bottom-style)
    var(--mixin-UArKz6BZwWyB_border-bottom-color);
  border-left: var(--mixin-UArKz6BZwWyB_border-left-width)
    var(--mixin-UArKz6BZwWyB_border-left-style)
    var(--mixin-UArKz6BZwWyB_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote__77YCn),
blockquote:where(.root_reset.blockquote__77YCn),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-DGH7AoJj7cXB_color);
  padding-left: var(--mixin-DGH7AoJj7cXB_padding-left);
  border-left: var(--mixin-DGH7AoJj7cXB_border-left-width)
    var(--mixin-DGH7AoJj7cXB_border-left-style)
    var(--mixin-DGH7AoJj7cXB_border-left-color);
}

:where(.root_reset) pre:where(.pre__77YCn),
pre:where(.root_reset.pre__77YCn),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-D_3R4MNoM9lz_font-family);
  border-radius: var(--mixin-D_3R4MNoM9lz_border-top-left-radius)
    var(--mixin-D_3R4MNoM9lz_border-top-right-radius)
    var(--mixin-D_3R4MNoM9lz_border-bottom-right-radius)
    var(--mixin-D_3R4MNoM9lz_border-bottom-left-radius);
  padding: var(--mixin-D_3R4MNoM9lz_padding-top)
    var(--mixin-D_3R4MNoM9lz_padding-right)
    var(--mixin-D_3R4MNoM9lz_padding-bottom)
    var(--mixin-D_3R4MNoM9lz_padding-left);
  border-top: var(--mixin-D_3R4MNoM9lz_border-top-width)
    var(--mixin-D_3R4MNoM9lz_border-top-style)
    var(--mixin-D_3R4MNoM9lz_border-top-color);
  border-right: var(--mixin-D_3R4MNoM9lz_border-right-width)
    var(--mixin-D_3R4MNoM9lz_border-right-style)
    var(--mixin-D_3R4MNoM9lz_border-right-color);
  border-bottom: var(--mixin-D_3R4MNoM9lz_border-bottom-width)
    var(--mixin-D_3R4MNoM9lz_border-bottom-style)
    var(--mixin-D_3R4MNoM9lz_border-bottom-color);
  border-left: var(--mixin-D_3R4MNoM9lz_border-left-width)
    var(--mixin-D_3R4MNoM9lz_border-left-style)
    var(--mixin-D_3R4MNoM9lz_border-left-color);
}

:where(.root_reset) ul:where(.ul__77YCn),
ul:where(.root_reset.ul__77YCn),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-a_QW5GkZ4fFj_display);
  flex-direction: var(--mixin-a_QW5GkZ4fFj_flex-direction);
  align-items: var(--mixin-a_QW5GkZ4fFj_align-items);
  justify-content: var(--mixin-a_QW5GkZ4fFj_justify-content);
  list-style-position: var(--mixin-a_QW5GkZ4fFj_list-style-position);
  padding-left: var(--mixin-a_QW5GkZ4fFj_padding-left);
  position: var(--mixin-a_QW5GkZ4fFj_position);
  list-style-type: var(--mixin-a_QW5GkZ4fFj_list-style-type);
  column-gap: var(--mixin-a_QW5GkZ4fFj_column-gap);
}

:where(.root_reset) ol:where(.ol__77YCn),
ol:where(.root_reset.ol__77YCn),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-WzgNj99kwXU3_display);
  flex-direction: var(--mixin-WzgNj99kwXU3_flex-direction);
  align-items: var(--mixin-WzgNj99kwXU3_align-items);
  justify-content: var(--mixin-WzgNj99kwXU3_justify-content);
  list-style-position: var(--mixin-WzgNj99kwXU3_list-style-position);
  padding-left: var(--mixin-WzgNj99kwXU3_padding-left);
  position: var(--mixin-WzgNj99kwXU3_position);
  list-style-type: var(--mixin-WzgNj99kwXU3_list-style-type);
  column-gap: var(--mixin-WzgNj99kwXU3_column-gap);
}

:where(.root_reset) h5:where(.h5__77YCn),
h5:where(.root_reset.h5__77YCn),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-size: var(--mixin--XdPan-mkv1e_font-size);
  font-weight: var(--mixin--XdPan-mkv1e_font-weight);
  line-height: var(--mixin--XdPan-mkv1e_line-height);
}

:where(.root_reset) h6:where(.h6__77YCn),
h6:where(.root_reset.h6__77YCn),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-size: var(--mixin-wm97ukfKxvLg_font-size);
  font-weight: var(--mixin-wm97ukfKxvLg_font-weight);
  line-height: var(--mixin-wm97ukfKxvLg_line-height);
}

:where(.root_reset) a:where(.a__77YCn):hover,
a:where(.root_reset.a__77YCn):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-TWHzf84uVMMw_color);
}

:where(.root_reset) li:where(.li__77YCn),
li:where(.root_reset.li__77YCn),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p__77YCn),
p:where(.root_reset.p__77YCn),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
