.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-GVsoIpJlGJFU);
  min-width: 0;
}
.customHeader:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 65ch;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
.text {
  font-size: 2rem;
}
.customFooter:global(.__wab_instance) {
  position: relative;
}
