.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-K0B3Pb04HWqq);
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  height: var(--token-8RrKuXUhKz8M);
  width: var(--token-8RrKuXUhKz8M);
  border-radius: 99px;
  border: 1px solid var(--token-W1ScpvjFaWi_);
}
.root[data-hovered]:global(.__wab_instance) {
  border-width: 2px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-W1ScpvjFaWi_);
  outline-offset: 1px;
}
